* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
    font-family: monospace;
}

:root {
    --clr-default1: #224A5E;
    --clr-default2: #1b1d1c;
    --clr-accent1: #fe6465;
    --clr-accent2: #EA1821;
}

body {
    font-family: monospace;
    background-color: var(--clr-default2);
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} 

nav {
    background: rgba(254, 100, 100, 0);
    border-bottom: 2px solid var(--clr-accent2);
    height: 80px;
    width: 100%;
}

label.logo {
    color: var(--clr-accent2);
    position: absolute;
    font-size: 35px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
}

nav ul {
    margin-right: 20px;
}

nav ul li {
    float: right;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-align: center;
    color: var(--clr-accent2);
    font-size: 17px;
    margin: auto;
}

#b {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-accent2);
    background-color: var(--clr-default2);
    border: 10px solid var(--clr-accent2);
    border-radius: 5px;
    cursor: pointer;  
    transition: all 0.15s;
    margin-top: 30px;
  }
  
#b:hover {
    transform: translateY(-10px);
    background-color: var(--clr-accent2);
    color: var(--clr-default2);
}

#cb {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-accent2);
    background-color: var(--clr-default2);
    border: 10px solid var(--clr-accent2);
    border-radius: 5px;
    cursor: pointer;  
    transition: all 0.15s;
    margin-top: 30px;
  }
  
#cb:hover {
    transform: translateY(-10px);
    background-color: var(--clr-accent2);
    color: var(--clr-default2);
}